<div
    id="ui-modal"
    class="ui-modal"
    aria-hidden="true"
>

    <div class="ui-modal-overlay"></div>


    <div
        class="ui-modal-container"
        role="dialog"
        aria-modal="true"
    >

        <header class="ui-modal-header">

            <div>

                <h2
                    id="ui-modal-title"
                    class="ui-modal-title"
                >
                    Modal
                </h2>

                <p
                    id="ui-modal-subtitle"
                    class="ui-modal-subtitle"
                ></p>

            </div>


            <button
                type="button"
                class="ui-modal-close"
                id="ui-modal-close"
                aria-label="Fechar"
            >

                <i class="fa-solid fa-xmark"></i>

            </button>

        </header>


        <div
            id="ui-modal-body"
            class="ui-modal-body"
        ></div>


        <footer
            id="ui-modal-footer"
            class="ui-modal-footer"
        ></footer>

    </div>

</div>