.app{

    display:grid;

    grid-template-columns:var(--sidebar-width) 1fr;

    min-height:100vh;

    background:var(--color-background);

}

.app-content{

    display:flex;

    flex-direction:column;

    min-width:0;

}

#page-content{

    flex:1;

    padding:32px;

    overflow:auto;

}

/* =============================
   Notebook
============================= */

@media(max-width:1200px){

    .app{

        grid-template-columns:240px 1fr;

    }

}

/* =============================
   Tablet
============================= */

@media(max-width:992px){

    .app{

        grid-template-columns:72px 1fr;

    }

}

/* =============================
   Celular
============================= */

@media(max-width:768px){

    .app{

        grid-template-columns:1fr;

    }

}