.container{

    width:min(1600px,95%);

    margin:auto;

}

.card{

    background:white;

    border-radius:18px;

    box-shadow:var(--shadow-sm);

}

.flex{

    display:flex;

}

.grid{

    display:grid;

}

.center{

    display:flex;

    justify-content:center;

    align-items:center;

}

.hidden{

    display:none;

}
