<div class="sidebar">
    <div>
        <div class="sidebar-header">
            <div class="logo">
                <div class="logo-icon">
                    <i class="fa-solid fa-file-contract"></i>
                </div>
                <div class="logo-text">
                    <h2>CARVAHLO</h2>
                    <span>Controle de Contratos</span>
                </div>
            </div>
        </div>
        <nav class="sidebar-menu">
            <a href="#" data-route="dashboard">
                <i class="fa-solid fa-house"></i>
                <span>Dashboard</span>
            </a>
            <a href="#" data-route="contracts">
                <i class="fa-solid fa-file-contract"></i>
                <span>Contratos</span>
            </a>
            <a href="#" data-route="companies">
                <i class="fa-solid fa-building"></i>
                <span>Empresas</span>
            </a>
            <a href="#" data-route="documents">
                <i class="fa-solid fa-folder"></i>
                <span>Documentos</span>
            </a>
            <a href="#" data-route="alerts">
                <i class="fa-solid fa-bell"></i>
                <span>Alertas</span>
            </a>
            <a href="#" data-route="reports">
                <i class="fa-solid fa-chart-column"></i>
                <span>Relatórios</span>
            </a>
            <a>
                <i class="fa-solid fa-users"></i>
                <span>Usuários</span>
            </a>
            <a>
                <i class="fa-solid fa-gear"></i>
                <span>Configurações</span>
            </a>
        </nav>
    </div>
    <div class="sidebar-footer">
        <div class="storage">
            <div class="storage-title">
                <span>Armazenamento</span>
                <strong>24%</strong>
            </div>
            <div class="progress">
                <span></span>
            </div>
            <small>
                2.4GB de 10GB utilizados
            </small>
        </div>
    </div>
</div>